<div class="row mb-5 pb-5"></div>
<div class="row my-5 pb-5">
    <div class="col-md-1 px-4"></div>
    <div class="col-md-5 px-5">
        <div class="row"></div>
        <div class="row">
            <div class="px-3 mb-3">
                <img src="./assets/img/portrait.jpg" class="img-fluid shadow portrait mx-auto"
                    alt="Image Kira Reed Owner" />
            </div>
        </div>
        <div class="row pl-3 pr-5 about-titles">
            <div class="col">
                <div class="row mt-n1">
                    <h3>Kira Reed</h3>
                </div>
                <div class="row mt-n1">Owner / Primary Designer</div>
            </div>
        </div>
    </div>
    <div class="col-md-5 px-5 mx-auto">
        <div class="row pt-5">
            <h2>About</h2>
        </div>
        <div class="row about-text">
            <p>We're proud to be among the top stagers and designers in Los Angeles, and even prouder to say we're
                the only small business in their ranks. KSR Staging &amp; Design offers: </p>
            <ul>
                <li>Partial Staging</li>
                <li>Consultations</li>
                <li>Design of an Interior Property</li>
                <li>Outside Living Areas</li>
                <li>Product Placement</li>
                <li>Film &amp; TV Set Interiors</li>
            </ul>
            {{!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus eaque, quod saepe nulla deleniti
                unde
                tenetur omnis quia quisquam ratione necessitatibus praesentium molestias facere excepturi in, impedit
                nisi facilis ipsa!</p> --}}
        </div>

    </div>
    <div class="col-md-1 px-4"></div>
</div>
<div class="row pb-2"></div>