
<div class="row my-5 pb-5"></div>
<div class="row my-5 pb-5" >
     <div class="col-md-1 px-4"></div>
    <div class="col-md-5 px-5">
        <div class="row"></div>
        <div class="row">
            <div class="pl-3 mb-3">
            <img src="./assets/img/portrait.jpg" class="img-fluid shadow portrait mx-auto" alt="Image Kira Reed Owner"/>
            </div>
        </div>
        <div class="row pl-3 pr-5 about-titles">
            <div class="col">
            <div class="row"><h4>Kira Reed</h4></div>
            <div class="row mt-n1">Owner / Primary Designer</div>
            </div>
        </div>
    </div>
    <div class="col-md-5 px-5 mx-auto">
        <div class="row pt-5">
            <h2>About</h2>
        </div>
        <div class="row">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus eaque, quod saepe nulla deleniti unde
                tenetur omnis quia quisquam ratione necessitatibus praesentium molestias facere excepturi in, impedit
                nisi facilis ipsa!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus eaque, quod saepe nulla deleniti unde
                tenetur omnis quia quisquam ratione necessitatibus praesentium molestias facere excepturi in, impedit
                nisi facilis ipsa!</p>
        </div>

    </div>
     <div class="col-md-1 px-4"></div>
</div>
<div class="row pb-2"></div>