<div class="row mb-5 pb-5"></div>
<div class="row my-5 pb-5">
    <div class="col-md-1 px-4"></div>
    <div class="col-md-5 px-5 d-none d-sm-block">
        <div class="row"></div>
        <div class="row">
            <div class="px-3 mb-3">
                <img src="./assets/img/portrait.jpg" class="img-fluid shadow portrait mx-auto"
                    alt="Image Kira Reed Owner" />
            </div>
        </div>
        <div class="row pl-3 pr-5 about-titles">
            <div class="col">
                <div class="row mt-n1">
                    <h3>Kira Reed</h3>
                </div>
                <div class="row mt-n1">Owner / Primary Designer</div>
            </div>
        </div>
    </div>
    <div class="col-md-5 px-5 mx-auto">
        <div class="row pt-5 pb-3">
            <h2>About</h2>
        </div>
        <div class="row about-text">
            <p>KSR Staging &amp; Design offers: Partial Staging, Consultations, Design of an Interior Property, Outside
                Living Areas, Product Placement, Film &amp; TV Set Interiors
            </p>
            <p>Our homes consistently sell quickly, often in hundreds of thousands of dollars above asking. Contact us below to discuss
                a quote for your project or listing.</p>
            <p>Based in Los Angeles, CA. </p>
        </div>

    </div>

    <div class="col-md-5 pt-5 px-3 pb-1 d-xs-block d-sm-none">
        <div class="row"></div>
        <div class="row">
            <div class="px-3 mb-3">
                <img src="./assets/img/portrait.jpg" class="img-fluid shadow portrait mx-auto"
                    alt="Image Kira Reed Owner" />
            </div>
        </div>
        <div class="row pl-3 pr-5 about-titles">
            <div class="col">
                <div class="row mt-n1">
                    <h3>Kira Reed</h3>
                </div>
                <div class="row mt-n1">Owner / Primary Designer</div>
            </div>
        </div>
    </div>

    <div class="col-md-1 px-4"></div>
</div>
<div class="row pb-1"></div>