
<div class="row my-5 pb-5"></div>
<div class="row my-5 pb-5">
    <div class="col-md-6 pb-3 ml-5 mr-3">
        <div class="row"></div>
        <div class="row">
            <div class="px-5 ml-5">
            <img src="./img/portrait.jpg" class="img-fluid" alt="Image Kira Reed Owner"/>
            </div>
        </div>
        <div class="row ml-5 pl-5 pt-3">
            <h4>Kira Reed</h4>
            <br>Owner
        </div>
    </div>
    <div class="col-md-5 px-5">
        <div class="row">
            <h2>About</h2>
        </div>
        <div class="row">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus eaque, quod saepe nulla deleniti unde
                tenetur omnis quia quisquam ratione necessitatibus praesentium molestias facere excepturi in, impedit
                nisi facilis ipsa!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus eaque, quod saepe nulla deleniti unde
                tenetur omnis quia quisquam ratione necessitatibus praesentium molestias facere excepturi in, impedit
                nisi facilis ipsa!</p>
        </div>

    </div>
    <div class="col-md-1 px-1"></div>
</div>
<div class="row pb-2"></div>