<div class="row pt-5 px-5 pb-3 mx-auto justify-content-center">
  <!--Carousel Wrapper-->
  <div id="carousel-slide" class="carousel slide carousel-fade pt-1" data-ride="carousel">

    <!--Indicators-->
    <ul class="carousel-indicators">
      <li data-target="#carousel-slide" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-slide" data-slide-to="1"></li>
      <li data-target="#carousel-slide" data-slide-to="2"></li>
      <li data-target="#carousel-slide" data-slide-to="3"></li>
      <li data-target="#carousel-slide" data-slide-to="4"></li>
      <li data-target="#carousel-slide" data-slide-to="5"></li>
      <li data-target="#carousel-slide" data-slide-to="6"></li>
    </ul>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner">

      <!--First slide-->
      <div class="carousel-item" data-interval="10000">
        <img src='./assets/img/blues.jpg' class="mx-auto d-block" alt="...">
      </div>

      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item active" data-interval="10000">
        <img src='./assets/img/gallery/hero/livingtwoHERO.jpg' class="mx-auto d-block" alt="...">
      </div>
      <!--/Second slide-->

      <!--Third slide-->

      <div class="carousel-item" data-interval="10000">
        <img src='./assets/img/gallery/hero/eldredHEROcropped.jpg' class="mx-auto d-block" alt="...">
      </div>
      <!--/Third slide-->

      <!--Fourth slide-->
      <div class="carousel-item" data-interval="10000">
        <img src='./assets/img/gallery/hero/ColbathKitchenPerspective-cropped.jpg' class="mx-auto d-block" alt="...">
      </div>

      <!--/Fourth slide-->

      <!--Fifth slide-->
      <div class="carousel-item" data-interval="10000">
        <img src='./assets/img/gallery/hero/balichestliving2HERO.jpg' class="mx-auto d-block" alt="...">
      </div>
      <!--/Fifth slide-->

      <!--Sixth slide-->
      <div class="carousel-item" data-interval="10000">
        <img src='./assets/img/gallery/hero/couchHERO.jpg' class="mx-auto d-block" alt="...">
      </div>

      <!--/Sixth slide -->

      <!--Seventh slide-->
      <div class="carousel-item" data-interval="10000">
        <img src='./assets/img/gallery/hero/diningblueHERO.jpeg' class="mx-auto d-block" alt="...">
      </div>
      <!--/Seventh slide -->

    </div>
    <!--/.Slides-->

  </div>
</div>
{{!-- </div> --}}