<div class="row pt-5 px-5 pb-3 mx-auto mt-n3 justify-content-center">
  <!--Carousel Wrapper-->
  <div id="carousel-slide" class="carousel slide carousel-fade pt-1" data-ride="carousel">

    <!--Indicators-->
    <ul class="carousel-indicators">
      <li data-target="#carousel-slide" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-slide" data-slide-to="1"></li>
      <li data-target="#carousel-slide" data-slide-to="2"></li>
      <li data-target="#carousel-slide" data-slide-to="3"></li>
      <li data-target="#carousel-slide" data-slide-to="4"></li>
      <li data-target="#carousel-slide" data-slide-to="5"></li>
    </ul>
    <!--/Indicators-->

    <!--Slides-->

    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
        <img src="./assets/img/Hero/eldredHEROcropped.jpg" class="mx-auto d-block" alt="Eldred">
      </div>
            {{#each imageDocuments}}
      <div class="carousel-item" data-interval="10000">
        <img src={{image}} class="mx-auto d-block" alt={{description}}>
      </div>
      {{/each}}
    </div>

  </div>
</div>