<div class="row p-5 mx-auto justify-content-center">
    <!--Carousel Wrapper-->
    <div id="carousel-slide" class="carousel slide carousel-fade pt-1" data-ride="carousel">

      <!--Indicators-->
      <ul class="carousel-indicators">
        <li data-target="#carousel-slide" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-slide" data-slide-to="1"></li>
        <li data-target="#carousel-slide" data-slide-to="2"></li>
        <li data-target="#carousel-slide" data-slide-to="3"></li>
        <li data-target="#carousel-slide" data-slide-to="4"></li>
      </ul>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner text-center">

        <!--First slide-->
        <div class="carousel-item active" data-interval="1000">
          <img src='./img/blues.jpg' class="mx-auto d-block" alt="...">
        </div>
        <!--/First slide-->

        <!--Second slide-->
        <div class="carousel-item" data-interval="10000">
          <img src='./img/gallery/hero/ColbathKitchenPerspective-cropped.jpg' class="mx-auto d-block" alt="...">
        </div>
        <!--/Second slide-->

        <!--Third slide-->
        <div class="carousel-item" data-interval="10000">
          <img src='./img/diningtable.jpg' class="mx-auto d-block" alt="...">
        </div>
        <!--/Third slide-->

        <!--Fourth slide-->
        <div class="carousel-item" data-interval="10000">
          <img src='./img/rooftop.jpg' class="mx-auto d-block" alt="...">
        </div>
        <!--/Fourth slide-->

        <!--Fifth slide-->
        <div class="carousel-item" data-interval="10000">
          <img src='./img/beige.jpg' class="mx-auto d-block" alt="...">
        </div>
        <!--/Fifth slide-->

      </div>
      <!--/.Slides-->

    </div>
</div>
{{!-- </div> --}}