
{{!-- <div class="jumbotron mt-5 mb-1"> --}}
<!--Carousel Wrapper-->
<div id="carousel-slide" class="carousel slide carousel-fade" data-ride="carousel">

  <!--Indicators-->
  <ul class="carousel-indicators">
    <li data-target="#carousel-slide" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-slide" data-slide-to="1"></li>
    <li data-target="#carousel-slide" data-slide-to="2"></li>
    <li data-target="#carousel-slide" data-slide-to="3"></li>
    <li data-target="#carousel-slide" data-slide-to="4"></li>
  </ul>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner">

    <!--First slide-->
    <div class="carousel-item active" data-interval="15000">
      <img src='./img/blues.jpg' class="d-block w-100" alt="...">
    </div>
    <!--/First slide-->

    <!--Second slide-->
    <div class="carousel-item" data-interval="10000">
      <img src='./img/openplan.jpg' class="d-block w-100" alt="...">
    </div>
    <!--/Second slide-->

    <!--Third slide-->
    <div class="carousel-item" data-interval="10000">
      <img src='./img/diningtable.jpg' class="d-block w-100" alt="...">
    </div>
    <!--/Third slide-->

    <!--Fourth slide-->
    <div class="carousel-item" data-interval="10000">
      <img src='./img/rooftop.jpg' class="d-block w-100" alt="...">
    </div>
    <!--/Fourth slide-->

    <!--Fifth slide-->
    <div class="carousel-item" data-interval="10000">
      <img src='./img/beige.jpg' class="d-block w-100" alt="...">
    </div>
    <!--/Fifth slide-->

  </div>
  <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->
{{!-- </div> --}}