<div class="row mx-auto my-5 py-5"></div>
<div class="row mx-auto py-5">
   <div class="col px-1"></div>
    <div class="col px-5">
         <div class="contact">
            <div class="form-group">
                <input class="form-control" id="name-input" placeholder="name">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email-input" placeholder="email">
            </div>
            <div class="form-group">
                <input type="phone" class="form-control" id="phone-input" placeholder="phone number">
            </div>
            <div class="form-group">
                <input class="form-control" id="subject-input" placeholder="subject">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="message-input" placeholder="message" rows="7"></textarea>
            </div>
                <div class="row mx-auto"><button class="btn" id="mail" type="submit">send</button></div>
        </div>
    </div>
    <div class="col px-1"></div>
</div>
<div class="row mx-auto py-5"></div>