<div class="footer">
    <div class="row py-5">
        <div class="col"><a href="/gallery"></a><a href="#about"></a><a href="#contact"></a><a href="#top"></a></div>
        <div class="col"> &copy; KSR Design<br>site by <a href="http://www.katyearyengineer.com">Kat Yeary</a></div>
    </div>
</div>