<div class="footer">
<!--         {{> floatingBtn }} -->
    <div class="row py-5 mx-5">
        <div class="col">
            <a href="/gallery">Gallery</a><br>
            <a href="#about">About</a><br>
            <a href="#contact">Contact</a><br>
            <a href="#top">Top</a>
        </div>
        <div class="col text-right"> &copy; KSRDesign<br>site by <a href="http://www.katyearyengineer.com">Kat Yeary</a></div>
    </div>
</div>