
        <div class="row m-4 pb-5 gallery-footer">
            <div class="col">
                <a href="/gallery" invisible>Gallery</a><br>
                <a href="#about">About</a><br>
                <a href="#contact">Contact</a><br>
                <a href="#top">Home</a>
            </div>
            <div class="col text-right"> &copy; KSRDesign<br>site by <a href="http://www.katyearyengineer.com">Kat
                    Yeary</a></div>
        </div>
    </div>
