
<!-- Modal -->

{{#each imageDocuments}}
    <div class="modal fade gallery-modal" id='my{{_id}}' tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                    <img src={{image}} id="modalImg">
                </div>
            </div>
        </div>
    </div>
{{/each}}   
