            {{#each imageDocument}}
            <div class="mix col-md-6 col-lg-3 {{location}}" >
                <a href={{galleryImage}} class="portfolio-item pi-style2 set-bg" data-setbg={{galleryImage}}>
                    <div class="pi-inner">
                        <h2>+</h2>
                    </div>
                </a>
                <div class="portfolio-meta">
                </div>
            </div>
            {{/each}}
