<header class="mx-auto pt-2">
    <div class="container-fluid text-center">
        <img src="./assets/img/KSRlogo.jpg" class="mb-3">
        <div class="row d-flex justify-content-center header">
        <div>quick closing.</div>
        <div class="px-4">above asking.</div>
        <div>it's all in the staging.</div>
        </div>
    </div>
</header>