<div class="row image_list">
    {{#each imageDocuments}}
    <div class="col-sm-12 col-md-4">
        <div class="lightbox" id={{_id}}>
            <img src={{image}} alt={{description}}>
        </div>
    </div>
    {{/each}}
    {{> gallery-modal}}
</div>
