        <div class="carousel-inner">
    {{#each imageDocuments}}
      <div class="carousel-item active" data-interval="10000" id={{_id}}>
        <img src={{image}} class="mx-auto d-block" alt={{description}}>
      </div>
    {{/each}} 
    </div>