                {{#each images }}
                <div class="col-sm-12 col-md-4">
                    <div class="lightbox">
                        <img src={{image}} alt={{description}}
                            data-whatever={{image}}>
                    </div>
                </div>
                {{/each}}