<div class="row" class="links" id="myLinks">
  <nav class="navbar navbar-expand-lg mt-n4 mb-4 mx-auto text-center">
        <div>
      <ul class="navbar-nav">
        <li class="nav-item px-5 d-none d-md-block">
          <a class="main-nav btn pb-2 pt-2 px-4" href="#about">about</a>
        </li>
        <li class="nav-item px-5 d-none d-md-block">
          <a class="main-nav btn pb-2 pt-2 px-4" href="#contact">contact</a>
        </li>
        <li class="nav-item px-5 d-none d-md-block">
          <a class="main-nav btn pb-2 pt-2 px-4" href="/gallery" target="_blank">gallery</a>
        </li>
        <li class="nav-item gallery-nav px-5 d-md-none mb-n4">
          <a class="pb-2 pt-2 px-4" href="/gallery" target="_blank">gallery</a>
        </li>
      </ul>
     </div>
  </nav>
</div>