<nav class="mobile-nav mx-n1 p-2 fixed-top shadow d-flex d-nowrap d-block d-md-none mx-3 justify-content-between">
    <img src="./assets/img/KSRlogo.jpg" class="navbar-brand">
    <div class="nav">
        <a class="btn btn-link mt-3 mr-2" href="/gallery" target="_blank">gallery</a>
</nav>