
<div class="row pt-5 px-5 mx-auto mb-n3 justify-content-center">
  <!--Carousel Wrapper-->
  <div id="carousel-slide" class="carousel slide carousel-fade pt-1" data-ride="carousel">

    <!--Slides-->

    <div class="carousel-inner pt-3">
      <div class="carousel-item active" data-interval="7000">
        <img src="./assets/img/Hero/eldredHEROcropped.jpg" class="mobile-carousel" alt="Eldred">
      </div>
      {{#each imageDocument}}
      <div class="carousel-item" data-interval="7000">
        <img src={{image}} class="mx-auto d-block slide mobile-carousel" alt={{location}}>
      </div>
      {{/each}}
    </div>
  </div>
</div>