<body>
    {{!-- When you click on an image it opens a modal that enlarges the image
    To load images, --}}
    <div class="container-fluid">

        <h1 class="my-4 font-weight-bold">Masonry - images option</h1>

        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item">
                <img src="./img/gallery/1870Veteran/20-546016_0.jpeg" />
            </div>
            <div class="grid-item">
                <img src="./img/gallery/1870Veteran/20-546016_2_0.jpeg" />
            </div>
            <div class="grid-item">
                <img src="./img/gallery/2291Chelan/genBcs.19-485988_6_0.jpg" />
            </div>
            <div class="grid-item">
                <img src="./img/gallery/2291Chelan/genBcs.19-485988_7_0.jpg" />
            </div>
            <div class="grid-item">
                <img src="./img/gallery/2291Chelan/genBcs.19-485988_10_0.jpg" />
            </div>
            <div class="grid-item">
                <img src="./img/gallery/2291Chelan/genMid.19-485988_5_0.jpg" />
            </div>
            <div class="grid-item">
                <img src="./img/gallery/2291Chelan/genMid.19-485988_8_0.jpg" />
            </div>
            <div class="grid-item">
                <img src="./img/gallery/3374Troy/21-726578_5_2.jpeg" />
            </div>
            <div class="grid-item">
                <img src="./img/gallery/3374Troy/21-726578_6_2.jpeg" />
            </div>
            <div class="grid-item">
                <img src="./img/gallery/3374Troy/21-726578_10_2.jpeg" />
            </div>
            <div class="grid-item">
                <img src="./img/gallery/3374Troy/21-726578_16_2.jpeg" />
            </div>
            <div class="grid-item">
                <img src="./img/gallery/3374Troy/21-726578_29_2.jpeg" />
            </div>
        </div>

    </div>
</body>