<!-- header section start -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div>
                <img src="/assets/img/KSRlogo.jpg" class="logo">
            </div>
        </div>
    </div>
</header>
<!-- header section end -->

<!-- portfolio section start -->
<section class="portfolio-section pt70">
    {{!-- <div class="container">

    </div> --}}
    <div class="container-fluid p-0">
        <div class="row portfolios-area">
            <div class="col-lg-6">
                <div class="portfolio-intro">
                    {{!-- <h2 class="section-title mb-5">The <span>only</span> small business in <span>LA's top 3</span>
                        stagers &amp; designers
                    </h2> --}}
                    <h1 class="section-title my-5">Close faster,<br><span>above asking.</span></h1>
                    <ul class="portfolio-filter controls">
                        <li class="control" data-filter="all">All</li>
                        <li class="control" data-filter=".troy">Troy</li>
                        <li class="control" data-filter=".eldred">Eldred</li>
                        <li class="control" data-filter=".colbath">Colbath</li>
                        <li class="control" data-filter=".oakshire">Oakshire</li>
                        <li class="control" data-filter=".palmera">Palmera</li>
                        <li class="control" data-filter=".spreadingOak">Spreading Oak</li>
                        <li class="control" data-filter=".eaton">Eaton</li>
                        <li class="control" data-filter=".veteran">Veteran</li>
                        <li class="control" data-filter=".hollywoodHills">Hollywood Hills</li>
                        <li class="control" data-filter=".more">More</li>
                    </ul>

                </div>
            </div>
            {{#each galleryDocument}}
            <div class="mix col-md-6 col-lg-3 {{ location }}" id={{ _id }}>
                <a href={{ galleryImage }} class="portfolio-item pi-style2 set-bg" data-setbg={{ galleryImage }}>
                    <div class="pi-inner">
                        <h2>+</h2>
                    </div>
                </a>
            </div>
            {{/each }}
        </div>
    </div>
</section>
<!-- portfolio section end -->
<section>
    {{> galleryFooter }}
</section>