<body class="gallery-body">
    <div class="container gallery-container my-4">
        <div class="tz-gallery">
            <div class="row image_list">
                {{> image-block}}
            </div>
        </div>
    </div>
    <div class="mt-5">
        {{> footer }}
    </div>
</body>