html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252626;
}

.view,
body,
html {
  height: 100%;
}

h1 {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: #758691;
}

/* Hero / Img Carousel */
.carousel-item img {
  width: auto !important;
  height: 75vh;
  max-height: 75vh;
}

/* Navbar */

.navbar {
  background-color: transparent;
}

.main-nav {
  border: none;
  background-color: none;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.25rem;
  color: #334252;
}

.main-nav:hover {
  background-color: #334252;
  color: white;
}


/* About */ 

.about {
  background-color: #ede9e6;
  font-family: 'Roboto', sans-serif;
  font-size: 1.15rem;
}

.about h2, h4 {
  font-family: 'Fira Sans', sans-serif;
}

img .portrait {
  padding: 2px;
}


/* Contact */

.contact {
  background-color: #758691;
}



/* Masonry */

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/* F3d9ca - peach */
