body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252626;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: #758691;
}

.view,
body,
html {
  height: 100%;
}

.carousel-item img {
  width: auto !important;
  height: 75vh;
  max-height: 75vh;
}

.navbar {
  background-color: transparent;
}

img .portrait {
  border: 10px;
  padding: 2px;
}

.main-nav {
  border: none;
  background-color: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #334252;
}

.main-nav:hover {
  background-color: #334252;
  color: white;
}

.contact {
  background-color: #758691;
}
