body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #252626;
}

.view,
body,
html {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: #334252;
}

h1 {
  font-size: clamp(2rem, 2.75rem, 4rem);
}

h2 {
  font-size: clamp(2rem, 3rem, 3.3vw);
}

h3 {
  font-size: clamp(1.25rem, 2rem, 2.2vw);
}

h4 {
  font-size: clamp(0.75rem, 1.15rem, 1.15rem);
}

.header {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0.08rem;
  color: black;
  white-space: nowrap;
}

/* Hero */

/* Img Carousel  */
.main-carousel {
  max-width: auto !important;
  height: 60vh !important;
}

.mobile-carousel {
  max-width: auto !important;
  height: 30vh !important;
}

/* Navbars */

.navbar {
  background-color: #fff;
  padding: 2rem 0;
}

.main-nav {
  border: none;
  background-color: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #334252;
}

.main-nav:hover {
  background-color: #334252;
  color: white;
}

.mobile-nav {
  background-color: #ffff;
}

.mobile-nav img {
  height: 75px;
  width: auto;
}

.mobile-nav .btn {
  background-color: #334252;
  outline: none;
  border-radius: 0.4rem;
  text-decoration: none;
  font-size: 1.25rem;
  width: 6rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.gallery-nav a {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: #334252;
  text-decoration: none;
}

.gallery-nav a:hover {
  color: #758691;
}

/* About */

.about {
  background-color: #ede9e6;
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-size: clamp(0.75rem, 1.15rem, 1.15rem);
}

.about-text ul {
  list-style-type: none;
}

.portrait {
  width: clamp(425px, 530px, 40vw);
}

/* Contact */

.contact {
  background-color: #e5e7e9;
}

.contact-dialog {
  background-color: #ffff;
  width: clamp(400px, 40vw, 40vw);
}

.send {
  background-color: #334252;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  letter-spacing: 0.07rem;
  color: #ffff;
}

.send:hover {
  background-color: #758691;
  color: #ffff;
}

/* Footer */

.footer {
  background-color: #2d3048;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffff;
}

.footer a {
  color: #ffff;
}
