<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Hello {{name}}</h1>
      <h2>Timestamp: {{timestamp}}</h2>
    </div>
  </body>
</html>
{{!-- <html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Montserrat:wght@400;500&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link manifest="manifest.webmanifest" />

    <title>KSR Design</title>
  </head>
<body>
    <div class="my-3 mx-auto header">
        {{> header }}
        {{> mobileNav }}
    </div>
    <section class="d-none d-md-block">
        {{> carousel }}
    </section>
    <section class="d-md-none d-xs-block">
        {{> mobileCarousel }}
    </section>
    <section>
        {{> nav }}
    </section>

    <main>
        <div class="about" id="about">
            {{> about }}
        </div>
        <div class="contact">
            <div class="row mx-auto py-5" id="contact"></div>
            <div class="row mx-auto py-5 justify-content-center">
                {{> contact}}
            </div>
            <div class="row mx-auto py-5"></div>
        </div>
    </main>
    <section>
        {{> footer }}
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <script
      src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"
    ></script>
    <script src="./assets/js/scripts.js"></script>
  </body>

</html>

 --}}